{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-sm-6 col-md-4 mb-3">
    <div class="card">
      <a href="products/{{product.slug}}" class="link-dark" style="text-decoration: none;">
        <img src="{{product.imageURL}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, doloremque.</p>
          <button data-product="{{product.id}}" data-action="add" class="btn btn-secondary add-btn update-cart">Add to
            Cart</button>
          <h4 style="float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}