{% extends "main/base.html" %}
{% load static %}
{% block content %}

<form method="POST" action="">
    {% csrf_token %}

    {{form.customer.label}}
    {{form.customer}}

    {{form.address.label}}
    {{form.address}}

    {{form.complete.label}}
    {{form.complete}}

    {{form.date_ordered.label}}
    {{form.date_ordered}}

    {{form.transaction_id.label}}
    {{form.transaction_id}}
    {% for message in messages %}
    <p id="messages mt-2 text-danger fw-bold">{{message}}</p>
    {% endfor %}
    <button class="btn btn-primary w-10 py-2" type="submit" value="Save">Save</button>
</form>

{% endblock content %}