{% extends "main/base.html" %}
{% load static %}
{% block content %}

<form method="POST" action="">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <label class="form-label" for="username">{{customer.user.username}}</label>
        <div class="mt-2 text-danger fw-bold">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" name="password" id="password" >
        <div class="mt-2 text-danger fw-bold">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input type="name" name="name" id="name" value="{{customer.name}}">
    </div>  
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input type="email" name="email" id="email" value="{{customer.email}}">
    </div>  
    <div class="mb-3">
        <label class="form-label" for="phone">Phonenumber</label>
        <input type="phone" name="phone" id="phone" value="{{customer.phone}}">
    </div>
    {% for message in messages %}
    <p id="messages mt-2 text-danger fw-bold">{{message}}</p>
    {% endfor %}
    <button class="btn btn-primary w-10 py-2" type="submit" value="Save">Save</button>
</form>

{% endblock content %}